<div style="padding: 20px;font-size: small" class="rounded mx-auto d-block">
  <img class="img-fluid rounded mx-auto d-block" src="../../assets/img.jpeg">

<div style="text-align:center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;letter-spacing: 1.5px;"
  class="mx-auto d-block">
  <div class="row">
   <div class="col-md-4">
        <p style="margin-bottom: 20px;">Hi, I am Tekumal Saisaketh and I'm a student. I have a strong interest in
          technology and enjoy coding and learning new technologies. </p>
        <p style="margin-bottom: 20px;">I was born in Hyderabad.So, I'm Indian, and of course, I like biryani.</p>
        <p style="margin-bottom: 20px;">I am pursuing graduation from BITS-PILANI and am currently interning at
          Xarvis-Technologies-Pune. </p>
        <p style="margin-bottom: 50px;">Please don't forget... may the force be with you!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <div style="margin-bottom: 20px;">PERSONAL CONTACT:</div>
      <div style="margin-bottom: 10px;">tekumalsaisaketh1@gmail.com</div>
      <div style="margin-bottom: 40px;">+91 8688208935</div>
    </div>
    
  </div>
  <button class="btn btn-outline-light" routerLink="/contact">Let's Talk</button>
  <button class="btn btn-outline-light" routerLink="/" style="margin-left: 20px;">+Projects</button>
</div>
</div>
