.navbar-brand
{
  margin-left: 30px;
}
.nav-item
{
  margin: 5px;
}
#my-nav
{
  position: absolute;
  right: 0px;

}
.nav-link:hover{
  text-decoration: line-through;
}
.active
{
    background-color: rgb(119, 112, 112);
    color: black;
}

